body {
    background-color: #eee;
    font-family: 'Quicksand', 
        Impact, 
        Haettenschweiler, 
        'Arial Narrow Bold', 
        sans-serif;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 0.1em;
}

.navbar {
    background-color: #373737;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

.itens {
    padding-left: 1em;
    padding-right: 1em;
}

.itens li {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.itens li:not(.brand) {
    float: right;
    margin-left: 0.7em;
}

.brand {
    font-weight: bold;
    font-size: 1em;
    transform: scaleX(-1);
}

.block-content {
    padding: 0.7em;
    margin: 0 auto;
    border-left: 0.1px solid #ddd;
    border-right: 0.1px solid #ddd;
    border-bottom: 0.1px solid #ddd;
    box-shadow: 0 3px 3px #ccc;
    width: calc(100% - 2.7em);
}

.block-title {
    background-color: #666;
    border-left: 0.1px solid #ddd;
    border-right: 0.1px solid #ddd;
    border-top: 0.1px solid #ddd;
    margin: 0 auto;
    padding: 0.7em;
    width: calc(100% - 2.7em);
    color: #eaecef;
}   
@media (min-width: 800px) {
    .block-content {
        max-width: calc(70% - 2.7em);
        margin: 0 auto;
    }

    .block-title {
        max-width: calc(70% - 2.7em);
        margin: 0 auto;
    }
}

.block {
    margin-bottom: 1em;
}

.block-title h3 {
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #eaecef;
}

.active {
    text-decoration: none;
    color: #76daff;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

input {
    border: 0.1px solid #ddd;
    padding: 1em;
    width: calc(100% - 2em);
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

label {
    font-weight: bold; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    width: 100%;
}

.btn {
    border: 0.2em solid #373737;
    padding: 0.7em 1.5em 0.7em 1.5em;
    background-color: #373737;
    font-weight: bold;
    color: #eaecef;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.5em;
}

.btn.confirm {
    background-color: #55bf52;
    border-color: #55bf52;
}

.btn.alert {
    background-color: #bfa552;
    border-color: #bfa552;
}

.btn.danger {
    background-color: #bf5252;
    border-color: #bf5252;
}

.btn.default {
    background-color: #5299bf;
    border-color: #5299bf;
}

.btn:hover {
    border-color: #eaecef;
}

.message {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    z-index: 9998;
    border: 0.2em solid #373737;
    padding-left: 0.5em;
    background-color: #373737;
    font-weight: bold;
    color: #eaecef;
    width: calc(100% - 2.7em);
    box-shadow: 0 3px 3px #666;
    opacity: 0;
}
@media (min-width: 1000px) {
    .message {
        max-width: 30%;
    }
}

.message-active {
    animation: displayMessage 5s ease-in;
}

.message-active:hover {
    animation-play-state: paused;
}

@keyframes displayMessage {
    0%{
        opacity: 0;
        height: auto;
    }
    20%,100% {
        opacity: 1;
        height: auto;
    }
}

.message.confirm {
    background-color: #55bf52;
    border-color: #55bf52;
}

.message.alert {
    background-color: #bfa552;
    border-color: #bfa552;
}

.message.danger {
    background-color: #bf5252;
    border-color: #bf5252;
}

.message.default {
    background-color: #5299bf;
    border-color: #5299bf;
}

.message h4 {
    font-weight: bold;
    color: #76daff;
}

.message-content {
    font-size: 0.9em;
}

.close {
    padding-top: 0.3em;
    color: #76daff;
    font-size: 0.7em;
    float: right;
    margin: 2em;
}